<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://thymeleaf.org/extras/spring-security">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Parallax Source</title>        
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"/>
        <br><br><br>
        <div class="container ml-auto">
            <div class="row"></div>
            <div class="row row-cols-3">
                <div class="card" sec:authorize="hasRole('ROLE_ADMIN')">
                    <div class="card-header text-center">
                        Reporte Usuarios
                    </div>
                    <div class="card-body">
                        <a th:href="@{/reportes/usuarios?tipo=vPdf}" class="btn btn-primary">
                            <i class='fas fa-eye'></i><i class='fas fa-file-pdf'></i>
                        </a>
                        <a th:href="@{/reportes/usuarios?tipo=Pdf}" class="btn btn-success">
                            <i class='fas fa-download'></i><i class='fas fa-file-pdf'></i>
                        </a>
                        <a th:href="@{/reportes/usuarios?tipo=Xls}" class="btn btn-warning">
                            <i class='fas fa-download'></i><i class='fas fa-file-excel'></i>
                        </a>
                        <a th:href="@{/reportes/usuarios?tipo=Csv}" class="btn btn-danger">
                            <i class='fas fa-download'></i><i class='fas fa-file-csv'></i>
                        </a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header text-center">
                        Reporte Proyectos
                    </div>
                    <div class="card-body">
                        <a th:href="@{/reportes/proyectos?tipo=vPdf}" class="btn btn-primary">
                            <i class='fas fa-eye'></i><i class='fas fa-file-pdf'></i>
                        </a>
                        <a th:href="@{/reportes/proyectos?tipo=Pdf}" class="btn btn-success">
                            <i class='fas fa-download'></i><i class='fas fa-file-pdf'></i>
                        </a>
                        <a th:href="@{/reportes/proyectos?tipo=Xls}" class="btn btn-warning">
                            <i class='fas fa-download'></i><i class='fas fa-file-excel'></i>
                        </a>
                        <a th:href="@{/reportes/proyectos?tipo=Csv}" class="btn btn-danger">
                            <i class='fas fa-download'></i><i class='fas fa-file-csv'></i>
                        </a>
                    </div>
                </div>                
        </div>
        </div>
        <br><br><br>
        <footer th:replace="~{layout/plantilla :: footer}"/>         
    </body>
</html>